Django>=2.0.8
easy-thumbnails==2.5
mysqlclient==1.3.12
Pillow==5.1.0
pytz==2018.4
Unidecode==0.4.21


dj-database-url
dj-static
django-appconf
django-compressor
djangorestframework
drf-nested-routers
gunicorn
six
static3
